<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two-Factor Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="error-message">
            <%= error %>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">x</button>
        </div>
    <% } %>
    <div><h2> Two-Factor Authentication </h2> We sent 2FA code to your email ^)</div>
    <form action="/verify-2fa" method="post">
        <div>
            <label for="code">Authentication Code:</label>
            <input type="hidden" name="employeeId" value="<%= employeeId %>">
            <input type="password" id="code" name="twoFactorCode" required autofocus>
        </div>
        <button type="submit">Verify Code</button>
    </form>
    </div>
</div>
</body>
</html>